.common-header { 
    position: fixed;    
    display: flex;    
    justify-content: flex-end;
    align-items: center;    
    margin-top: 0px;
    width: 92vw;		
    height: 35px; //45px;
    background:#06aeaa; //#9aba25;  #06aeaa; #30bfbf; #0ac5d4 #5088e1 c07517 00d77d 30bfbf #6495ed #ffaa00 #ff8728 #00d788 #06aeaa  #e9967a #0cd700 #d7c800 #d75f00 #2680eb;//  #3b4a7a;  
    //background: linear-gradient(to bottom,  #f8f8f8 0%,#f9f9f9 45%,#f9f9f9 60%,#f8f8f8 100%);
    //background: #fff;    
    //box-shadow: 0 2px 5px #f2f2f2, 0 0px 1px #f9f9f9, 0 0px 2px 2px #ffffff;
    padding-right: 10px;    
   // text-shadow: #2493cd 0.0em 0.0em 0.1em;
    //background: linear-gradient(to bottom,  #2493cd 0%,#318bd6 45%,#3384c6 60%,#2493cd 100%); // W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
    border-top-left-radius: 10px!important;
    border-top-right-radius: 10px!important;
    z-index: 4;
 //   border-top: 1px solid #f9f9f9;// solid 0.5px #f9f9f9;
    border-top-left-radius: 1px solid #f9f9f9;// solid 0.5px #f9f9f9;
    border-top-right-radius: 1px solid #f9f9f9;// solid 0.5px #f9f9f9;
   
    //box-shadow: 0 0 15px rgba(0,0,0,.04), 0 1px 6px rgba(0,0,0,.04);
    
    //box-shadow: 0 0 8px rgba(0,0,0,.04), 0 1px 6px rgba(0,0,0,.04);
     box-shadow: 1px 1px 8px rgba(0,0,0,.04), 1px 0px 5px rgba(0,0,0,.04), 1px 1px 8px rgba(0,0,0,.04);

  //  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.02);


	
	.common-header-title {            
    	font-size: 16px;
    	font-weight: 500;     
    	color: #fff;//  #212121;          
      //text-shadow: #ccc  0px 0px 1px;
      text-shadow: 0.1em 0.1em 0.7em #fff;
	} 
   
} 


//#1e73be

