.main-menu {

    position: fixed;
    float: left;
    background:#fff;
    width: 100vw;
    left: 0;
    top: 60px;
    padding-right: 0px;
    padding-left: 0px;

    background-color:#f5f5f5;

    .main-menu-container {

        display: flex;
        justify-content: center;
        align-items: center;

        span {
            padding: 8px;
            color: #424242;
            font-weight: 500;
            cursor: pointer;
        }
        
        span:hover{
            color: #838383;
        }

    }

}