.common-grid-base {    
    /*width: 100%;
    height: 80vh;
    padding: 10px;
    background-color: #fafafa;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 20hv 70vh 10vh ;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px; */
    
    position: relative;
    padding: 10px; // é necessário este padding para que layouts internos não sobreponha o border radios do wedit
    border-radius: 10px!important;
    background:#fff!important;    
    width: 92vw;
    min-height: 100%!important;
    margin-top: 110px;
    z-index: 0;
    padding-top: 90px!important;
    box-shadow: 0 1px 15px rgba(0,0,0,.04), 0 1px 6px rgba(0,0,0,.04);
}

.common-grid-table {
    display: table;
    position: relative;
    width: 100%;
    //height: 100%;
   // border: 1px #ddd solid;
    border-radius: 6px;
    background-color:#fff!important;    
    box-shadow:#f0c3bfad 0.0em 0.0em 0.1em; //f0c3bfad
    grid-column-start: 1;
    grid-column-end: 3;

}

.common-grid-base .common-grid-table thead 
.row-grid-title {
    position: relative;
    width: 100%; 
    height: 32px;     
    color:#212121;// #495a70e6!important;//#5b708be6
    font-family: inherit;
    font-size: 13px!important;
    font-weight: 400;
    text-shadow: #f0c3bfad 0.0em 0.0em 0.1em;        
    border-bottom: solid 1px #212121;
}

.common-grid-base .common-grid-table thead .row-grid-title
.col-grid-title-number,
.col-grid-title-checked,
.col-grid-title-date,
.col-grid-title-btn {
    text-align: center;
}

.common-grid-base .common-grid-table thead .row-grid-title
.col-grid-title-date{                
    max-width: 80px!important;
    min-width: 80px!important;    
}

.common-grid-base .common-grid-table tbody .row-grid-data
.col-grid-data-date{                
    width: auto;
    max-width: 80px!important;
    min-width: 80px!important;
    text-align: center;
}

.common-grid-base .common-grid-table tbody .row-grid-data
.col-grid-data-number {

    height: 30px;
    color: #212121;
    font-size: 14px;
    text-shadow: #f0c3bfad 0.0em 0.0em 0.1em;
    text-align: center;

}

.common-grid-base .common-grid-table thead .row-grid-title
.col-grid-title-checked{                
    width: auto;
    max-width: 55px!important;
    min-width: 15px!important;    
}

.common-grid-base .common-grid-table tbody .row-grid-data
.col-grid-data-checked{                
    width: auto;
    max-width: 55px!important;
    min-width: 15px!important;    
    text-align: center;
}

.common-grid-base .common-grid-table thead .row-grid-title
.col-grid-title-btn{                
    width: auto;           
    max-width: 25px!important;
    min-width: 15px!important;    
}

.common-grid-base .common-grid-table tbody .row-grid-data
.col-grid-btn{     
    width: auto;           
    max-width: 25px!important;
    min-width: 15px!important;
    text-align: center;
}



.common-grid-base .common-grid-table thead .row-grid-title
.col-grid-title {
    text-align: left;
    padding-left: 4px;
} 

.common-grid-table tbody .row-grid-data {
    height: 30px;
    color: #212121;
    font-size: 14px;
    text-shadow: #f0c3bfad 0.0em 0.0em 0.1em;
}

.common-grid-table tbody .row-grid-data
.col-grid-data {
    text-align: left;
    padding-left: 4px;
    height: 35px;
} 


#grid-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid-buttons button {
    background:transparent;
    height: 31px;
    width: 31px;
    border-radius: 2px;
    cursor: pointer;
    transform: rotate(0deg);
    border: none;
    text-align: center;
}

.common-grid-table thead .row-grid-filter {
    height: 30px;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.common-grid-table thead .row-grid-filter 
.input-grid-filter {
    width: 99%!important;
    height: 30px;    
  

    border-radius: 4px;
    border: none;   
    
    background: #ffffff;
    padding-left: 4px;
    color:#3d474d!important;// #3a4652!important;
    text-shadow: #f0c3bfad 0.0em 0.0em 0.1em;
    transition: width 0.4s ease-in-out;
    font-size: 12px; 
    box-sizing: border-box;
    box-shadow: inset 0px 0px 0.2em #ddd;

    overflow: visible;    
    color: #212121; //#060514;
    text-shadow: #f0c3bfad 0.0em 0.0em 0.1em;  
}


.common-grid-table thead .row-grid-filter 
.input-grid-filter-number {

    width: 99%!important;
    height: 30px;    

    border-radius: 4px;
    border: none;   
    
    background: #ffffff;
    padding-left: 4px;
    color:#3d474d!important;// #3a4652!important;
    text-shadow: #f0c3bfad 0.0em 0.0em 0.1em;
    transition: width 0.4s ease-in-out;
    font-size: 12px; 
    box-sizing: border-box;
    box-shadow: inset 0px 0px 0.2em #ddd;

    overflow: visible;    
    color: #212121; //#060514;
    text-shadow: #f0c3bfad 0.0em 0.0em 0.1em;  
    text-align: center;

}

.common-grid-table thead .input-grid-filter-number:focus {
    border-style: solid;
    border-width: 1px;  
    border-color:#66afe999; // c9c3ff;  
    background: #fbfbfb;
}   


.common-grid-table thead .row-grid-filter 
.input-grid-filter-date {

    width: 99%!important;
    height: 30px;    
  
    border-radius: 4px;
    border: none;   
    
    background: #ffffff;
    padding-left: 4px;
    color:#3d474d!important;// #3a4652!important;
    text-shadow: #f0c3bfad 0.0em 0.0em 0.1em;
    transition: width 0.4s ease-in-out;
    font-size: 12px; 
    box-sizing: border-box;
    box-shadow: inset 0px 0px 0.2em #ddd;

    overflow: visible;    
    color: #212121; //#060514;
    text-shadow: #f0c3bfad 0.0em 0.0em 0.1em;  
    text-align: center;

}

.common-grid-table thead .input-grid-filter-date:focus {
    border-style: solid;
    border-width: 1px;  
    border-color:#66afe999; // c9c3ff;  
    background: #fbfbfb;
}  

.common-grid-table thead .input-grid-filter:focus {
    border-style: solid;
    border-width: 1px;  
    border-color:#66afe999; // c9c3ff;  
    background: #fbfbfb;
}   

#columnSelector {
    float: right;
    width: 1px;
    height: 15px;
    cursor: col-resize;
    background-color: #ddd;
    user-select: none;
}

.common-grid-table thead .check-grid-filter {
    border: solid 1px #f1f1f1;
}

.common-grid-table thead 
.input-grid-filter::-webkit-input-placeholder { // Chrome/Opera/Safari 
    color: #ccc;
    font-size: 12px;
    text-align: center;
    font-style: italic;   
}

.common-grid-table tbody .row-grid-data:hover {
    background-color:#fff9f9;
    cursor: pointer;
    //border-top: solid 1px #f9f9f9;
    //border-bottom: solid 1px #f1f1f1;
}
