:root {
    --ion-color-primary: #2493cd;
    --ion-color-primary-rgb: 36,147,205;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #2081b4;
    --ion-color-primary-tint: #3a9ed2;

    --ion-color-secondary: #0cd1e8;
    --ion-color-secondary-rgb: 12,209,232;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255,255,255;
    --ion-color-secondary-shade: #0bb8cc;
    --ion-color-secondary-tint: #24d6ea;

    --ion-color-tertiary: #7044ff;
    --ion-color-tertiary-rgb: 112,68,255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255,255,255;
    --ion-color-tertiary-shade: #633ce0;
    --ion-color-tertiary-tint: #7e57ff;

    --ion-color-success: #10dc60;
    --ion-color-success-rgb: 16,220,96;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255,255,255;
    --ion-color-success-shade: #0ec254;
    --ion-color-success-tint: #28e070;

    --ion-color-warning: #ffce00;
    --ion-color-warning-rgb: 255,206,0;
    --ion-color-warning-contrast: #ffffff;
    --ion-color-warning-contrast-rgb: 255,255,255;
    --ion-color-warning-shade: #e0b500;
    --ion-color-warning-tint: #ffd31a;

    --ion-color-danger: #f04141;
    --ion-color-danger-rgb: 245,61,61;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255,255,255;
    --ion-color-danger-shade: #d33939;
    --ion-color-danger-tint: #f25454;

    --ion-color-dark: #222428;
    --ion-color-dark-rgb: 34,34,34;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255,255,255;
    --ion-color-dark-shade: #1e2023;
    --ion-color-dark-tint: #383a3e;

    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152,154,162;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255,255,255;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    --ion-color-light: #f4f5f8;
    --ion-color-light-rgb: 244,244,244;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0,0,0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;
  }

  /*
:root {
--theme-color-1: #576a3d;
    --theme-color-2: #dd9c02;
    --theme-color-3: #849b65;
    --theme-color-4: #494d43;
    --theme-color-5: #d1c19a;
    --theme-color-6: #7c8174;
    --theme-color-1-10: rgba(87,106,61,0.1);
    --theme-color-2-10: rgba(221,156,2,0.1);
    --theme-color-3-10: rgba(132,155,101,0.1);
    --theme-color-4-10: rgba(73,77,67,0.1);
    --theme-color-5-10: rgba(209,193,154,0.1);
    --theme-color-6-10: rgba(124,129,116,0.1);
    --primary-color: #212121;
    --foreground-color: #fff;
    --separator-color: #b7b7b7;
}


    :root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xxs: 0;
    --breakpoint-xs: 420px;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --breakpoint-xxl: 1440px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}



palette.primary.light

#4791db

palette.primary.main

#1976d2

palette.primary.dark

#115293

Secondary

palette.secondary.light

#e33371

palette.secondary.main

#dc004e

palette.secondary.dark

#9a0036

Error

palette.error.light

#e57373

palette.error.main

#f44336

palette.error.dark

#d32f2f

Warning

palette.warning.light

#ffb74d

palette.warning.main

#ff9800

palette.warning.dark

#f57c00

Info

palette.info.light

#64b5f6

palette.info.main

#2196f3

palette.info.dark

#1976d2

Success

palette.success.light

#81c784

palette.success.main

#4caf50

palette.success.dark

#388e3c





dark

palette.text.primary

#fff

palette.text.secondary

rgba(255, 255, 255, 0.7)

palette.text.disabled

rgba(255, 255, 255, 0.5)

Buttons

palette.action.active

#fff

palette.action.hover

rgba(255, 255, 255, 0.08)

palette.action.selected

rgba(255, 255, 255, 0.16)

palette.action.disabled

rgba(255, 255, 255, 0.3)

palette.action.disabledBackground

rgba(255, 255, 255, 0.12)

Background

palette.background.default

#303030

palette.background.paper

#424242

Divider

palette.divider

rgba(255, 255, 255, 0.12)



branco


Typography

palette.text.primary

rgba(0, 0, 0, 0.87)

palette.text.secondary

rgba(0, 0, 0, 0.54)

palette.text.disabled

rgba(0, 0, 0, 0.38)

Buttons

palette.action.active

rgba(0, 0, 0, 0.54)

palette.action.hover

rgba(0, 0, 0, 0.04)

palette.action.selected

rgba(0, 0, 0, 0.08)

palette.action.disabled

rgba(0, 0, 0, 0.26)

palette.action.disabledBackground

rgba(0, 0, 0, 0.12)

Background

palette.background.default

#fafafa

palette.background.paper

#fff

Divider

palette.divider

rgba(0, 0, 0, 0.12)


*/


/*

--paper-input-container-shared-input-style_-_position: relative;
    --paper-input-container-shared-input-style_-_outline: none;
    --paper-input-container-shared-input-style_-_box-shadow: none;
    --paper-input-container-shared-input-style_-_padding: 0;
    --paper-input-container-shared-input-style_-_margin: 0;
    --paper-input-container-shared-input-style_-_width: 100%;
    --paper-input-container-shared-input-style_-_max-width: 100%;
    --paper-input-container-shared-input-style_-_background: transparent;
    --paper-input-container-shared-input-style_-_border: none;
    --paper-input-container-shared-input-style_-_color: var(--paper-input-container-input-color, var(--primary-text-color));
    --paper-input-container-shared-input-style_-_-webkit-appearance: none;
    --paper-input-container-shared-input-style_-_text-align: apply-shim-inherit;
    --paper-input-container-shared-input-style_-_vertical-align: var(--paper-input-container-input-align, bottom);
    --paper-input-container-shared-input-style_-_font-family: var(--paper-font-subhead_-_font-family);
    --paper-input-container-shared-input-style_-_-webkit-font-smoothing: var(--paper-font-subhead_-_-webkit-font-smoothing);
    --paper-input-container-shared-input-style_-_font-size: var(--paper-font-subhead_-_font-size);
    --paper-input-container-shared-input-style_-_font-weight: var(--paper-font-subhead_-_font-weight);
    --paper-input-container-shared-input-style_-_line-height: var(--paper-font-subhead_-_line-height);
}
html:not(.style-scope) {
    --primary-text-color: var(--light-theme-text-color);
    --primary-background-color: var(--light-theme-background-color);
    --secondary-text-color: var(--light-theme-secondary-color);
    --disabled-text-color: var(--light-theme-disabled-color);
    --divider-color: var(--light-theme-divider-color);
    --error-color: var(--paper-deep-orange-a700);
    --primary-color: var(--paper-indigo-500);
    --light-primary-color: var(--paper-indigo-100);
    --dark-primary-color: var(--paper-indigo-700);
    --accent-color: var(--paper-pink-a200);
    --light-accent-color: var(--paper-pink-a100);
    --dark-accent-color: var(--paper-pink-a400);
    --light-theme-background-color: #ffffff;
    --light-theme-base-color: #000000;
    --light-theme-text-color: var(--paper-grey-900);
    --light-theme-secondary-color: #737373;
    --light-theme-disabled-color: #9b9b9b;
    --light-theme-divider-color: #dbdbdb;
    --dark-theme-background-color: var(--paper-grey-900);
    --dark-theme-base-color: #ffffff;
    --dark-theme-text-color: #ffffff;
    --dark-theme-secondary-color: #bcbcbc;
    --dark-theme-disabled-color: #646464;
    --dark-theme-divider-color: #3c3c3c;
    --text-primary-color: var(--dark-theme-text-color);
    --default-primary-color: var(--primary-color);
}
html:not(.style-scope) {
    --yt-live-chat-background-color: var(--yt-white);
    --yt-live-chat-secondary-background-color: var(--yt-opalescence-soft-grey);
    --yt-live-chat-action-panel-background-color: var(--yt-opalescence-soft-grey-opacity-lighten-3);
    --yt-live-chat-action-panel-background-color-transparent: hsla(0, 0%, 97%, .8);
    --yt-live-chat-mode-change-background-color: var(--yt-opalescence-soft-grey-opacity-lighten-3);
    --yt-live-chat-primary-text-color: var(--yt-luna-black);
    --yt-live-chat-secondary-text-color: var(--yt-luna-black-opacity-lighten-2);
    --yt-live-chat-tertiary-text-color: var(--yt-luna-black-opacity-lighten-3);
    --yt-live-chat-text-input-field-inactive-underline-color: #b8b8b8;
    --yt-live-chat-text-input-field-placeholder-color: var(--yt-luna-black-opacity-lighten-2);
    --yt-live-chat-text-input-field-underline-transition-duration: 0.25s;
    --yt-live-chat-icon-button-color: var(--yt-luna-black-opacity-lighten-3);
    --yt-live-chat-enabled-send-button-color: #4285f4;
    --yt-live-chat-disabled-icon-button-color: var(--yt-luna-black-opacity-lighten-4);
    --yt-live-chat-picker-button-color: var(--yt-luna-black-opacity-lighten-3);
    --yt-live-chat-picker-button-active-color: var(--yt-luna-black-opacity-lighten-1);
    --yt-live-chat-picker-button-disabled-color: var(--yt-live-chat-disabled-icon-button-color);
    --yt-live-chat-picker-button-hover-color: var(--yt-luna-black-opacity-lighten-2);
    --yt-live-chat-mention-background-color: #ff5722;
    --yt-live-chat-mention-text-color: var(--yt-white);
    --yt-live-chat-deleted-message-color: rgba(0, 0, 0, .5);
    --yt-live-chat-deleted-message-bar-color: rgba(11, 11, 11, .2);
    --yt-live-chat-disabled-button-background-color: var(--yt-opalescence-soft-grey);
    --yt-live-chat-disabled-button-text-color: var(--yt-luna-black-opacity-lighten-3);
    --yt-live-chat-sub-panel-background-color: var(--yt-opalescence-soft-grey);
    --yt-live-chat-sub-panel-background-color-transparent: hsla(0, 0%, 93%, .7);
    --yt-live-chat-header-background-color: var(--yt-opalescence-soft-grey-opacity-lighten-3);
    --yt-live-chat-header-button-color: var(--yt-luna-black);
    --yt-live-chat-count-color-early-warning: hsl(40, 76%, 55%);
    --yt-live-chat-count-color-error: hsl(10, 51%, 49%);
    --yt-live-chat-error-message-color: hsl(10, 51%, 49%);
    --yt-live-chat-reconnect-message-color: hsla(0, 0%, 7%, 0.2);
    --yt-live-chat-moderator-color: hsl(225, 84%, 66%);
    --yt-live-chat-owner-color: hsl(40, 76%, 55%);
    --yt-live-chat-author-chip-owner-background-color: #ffd600;
    --yt-live-chat-author-chip-owner-text-color: rgba(0,0,0,0.87);
    --yt-live-chat-author-chip-verified-background-color: var(--yt-spec-grey-1);
    --yt-live-chat-author-chip-verified-text-color: var(--yt-spec-grey-5);
    --yt-live-chat-message-highlight-background-color: #f8f8f8;
    --yt-live-chat-sponsor-color: #107516;
    --yt-live-chat-overlay-color: hsla(0, 0%, 0%, 0.6);
    --yt-live-chat-dialog-background-color: var(--yt-white);
    --yt-live-chat-dialog-text-color: var(--yt-luna-black-opacity-lighten-2);
    --yt-live-chat-banner-border-color: var(--yt-spec-10-percent-layer);
    --yt-live-chat-banner-animation-duration: 0.35s;
    --yt-live-chat-banner-animation-fast-duration: 0.25s;
    --yt-live-chat-banner-gradient-scrim: linear-gradient(rgba(255, 255, 255, 0.95), transparent);
    --yt-live-chat-banner-indeterminate-bar-background: repeating-linear-gradient(90deg, #fff, #fff 6px, #aaa 6px, #aaa 9px);
    --yt-live-chat-banner-bar-animation-duration: 1s;
    --yt-live-chat-action-panel-gradient-scrim: linear-gradient(to top, rgba(255, 255, 255, 0.95), transparent);
    --yt-live-chat-poll-primary-text-color: var(--yt-spec-static-overlay-text-primary);
    --yt-live-chat-poll-secondary-text-color: var(--yt-spec-static-overlay-text-secondary);
    --yt-live-chat-poll-tertiary-text-color: var(--yt-spec-static-overlay-text-disabled);
    --yt-live-chat-poll-choice-text-color: var(--yt-live-chat-poll-primary-text-color);
    --yt-live-chat-poll-choice-background-color: transparent;
    --yt-live-chat-poll-choice-border-radius: 2px;
    --yt-live-chat-poll-choice-border: 1px solid var(--yt-live-chat-poll-tertiary-text-color);
    --yt-live-chat-poll-choice-min-height: 16px;
    --yt-live-chat-poll-choice-vote-bar-background-color: var(--yt-spec-static-overlay-button-secondary);
    --yt-live-chat-poll-choice-hover-color: rgba(17, 17, 16, 0.1);
    --yt-live-chat-poll-choice-animation-duration: 0.5s;
    --yt-live-chat-poll-choice-text-padding: 0 16px;
    --yt-live-chat-poll-editor-panel-header-border-color: var(--yt-spec-10-percent-layer);
    --yt-live-chat-poll-editor-start-button-color: var(--yt-spec-general-background-b);
    --yt-live-chat-poll-editor-start-button-background-color: var(--yt-spec-call-to-action);
    --yt-live-chat-poll-editor-start-button-background-color-disabled: var(--yt-spec-icon-disabled);
    --yt-live-interactivity-component-background-color: #264c8a;
    --yt-live-chat-panel-animation-duration: 0.5s;
    --yt-live-chat-universal-motion-curve: cubic-bezier(0.05, 0.00, 0.00, 1.00);
    --yt-live-chat-moderation-mode-hover-background-color: var(--yt-luna-black-opacity-lighten-4);
    --yt-live-chat-additional-inline-action-button-color: var(--yt-white);
    --yt-live-chat-additional-inline-action-button-background-color: hsla(0, 0%, 26%, 0.8);
    --yt-live-chat-additional-inline-action-button-background-color-hover: hsla(0, 0%, 26%, 1.0);
    --yt-formatted-string-emoji-size: 24px;
    --yt-live-chat-emoji-size: 24px;
    --yt-live-chat-text-input-field-suggestion-background-color: var(--yt-white);
    --yt-live-chat-text-input-field-suggestion-background-color-hover: #eee;
    --yt-live-chat-text-input-field-suggestion-text-color: #666;
    --yt-live-chat-text-input-field-suggestion-text-color-hover: #333;
    --yt-live-chat-ticker-arrow-background: hsl(0, 0%, 97.3%);
    --yt-emoji-picker-category-background-color: var(--yt-live-chat-action-panel-background-color-transparent);
    --yt-emoji-picker-category-color: var(--yt-live-chat-secondary-text-color);
    --yt-emoji-picker-category-button-color: var(--yt-live-chat-picker-button-color);
    --yt-emoji-picker-search-background-color: var(--yt-white-opacity-lighten-2);
    --yt-emoji-picker-search-color: var(--yt-luna-black-opacity-lighten-1);
    --yt-emoji-picker-search-placeholder-color: var(--yt-luna-black-opacity-lighten-2);
    --yt-live-chat-slider-active-color: #2196f3;
    --yt-live-chat-slider-container-color: #c8c8c8;
    --yt-live-chat-slider-markers-color: #505050;
    --yt-live-chat-toast-action-color: #2196f3;
    --yt-live-chat-toast-background-color: var(--yt-opalescence-dark-grey);
    --yt-live-chat-toast-text-color: var(--yt-white);
    --yt-live-chat-automod-button-background-color: var(--yt-opalescence-soft-grey);
    --yt-live-chat-automod-button-background-color-hover: var(--yt-luna-black-opacity-lighten-4);
    --yt-live-chat-creator-support-button-border-radius: 2px;
    --yt-live-chat-creator-support-button-padding: 10px 16px;
    --yt-live-chat-creator-support-button-font-size: inherit;
    --yt-live-chat-countdown-opacity: 0.3;
    --yt-live-chat-shimmer-background-color: rgba(136, 136, 136, 0.2);
    --yt-live-chat-shimmer-linear-gradient: linear-gradient(0deg, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 65%);
    --yt-live-chat-vem-background-color: var(--yt-opalescence-soft-grey);
    --yt-live-chat-upsell-dialog-renderer-button-padding: 10px 16px;
    --yt-live-chat-product-picker-icon-color: rgba(17, 17, 17, 0.6);
    --yt-live-chat-product-picker-hover-color: rgba(17, 17, 16, 0.1);
    --yt-live-chat-product-picker-disabled-icon-color: rgba(17, 17, 17, 0.4);
    --yt-pdg-paid-stickers-tab-selection-bar-color: var(--yt-spec-dark-blue);
    --yt-pdg-paid-stickers-author-name-font-size: 14px;
    --yt-pdg-paid-stickers-author-subtext-font-size: 13px;
    --yt-pdg-paid-stickers-margin-left: 38px;
    --yt-live-chat-ninja-message-background-color: transparent;
}
html:not(.style-scope) {
    --paper-tooltip_-_margin: 8px;
    --paper-tooltip_-_font-size: var(--ytd-thumbnail-attribution_-_font-size);
    --paper-tooltip_-_font-weight: var(--ytd-thumbnail-attribution_-_font-weight);
    --paper-tooltip_-_line-height: var(--ytd-thumbnail-attribution_-_line-height);
    --paper-tooltip_-_text-transform: var(--ytd-thumbnail-attribution_-_text-transform);
    --paper-tooltip-delay-in: 1ms;
    --paper-tooltip-delay-out: 0;
    --paper-tooltip-duration-in: 150ms;
    --paper-tooltip-duration-out: 75ms;
    --iron-overlay-backdrop-opacity: 0.8;
    --paper-tab-content-focused_-_font-weight: 500;
}
html:not(.style-scope) {
    --ytd-z-index-report-form-overlay: 100;
    --ytd-z-index-watch-fixie-secondary-section-detached: 500;
    --ytd-z-index-engagement-panel-scrim: 600;
    --ytd-z-index-engagement-panel-scrimmed: 601;
    --ytd-z-index-miniplayer-bar: 2008;
    --ytd-z-index-masthead: 2020;
    --ytd-z-index-user-mention-suggestions-container: 2022;
    --ytd-z-index-notification: 2024;
    --ytd-z-index-miniplayer: 2025;
    --ytd-z-index-channel-name: 1000;
    --ytd-thumbnail-height: 118px;
    --ytd-grid-1-columns-width: 214px;
    --ytd-grid-2-columns-width: 428px;
    --ytd-grid-3-columns-width: 642px;
    --ytd-grid-4-columns-width: 856px;
    --ytd-grid-5-columns-width: 1070px;
    --ytd-grid-6-columns-width: 1284px;
    --ytd-grid-max-width: 1284px;
    --ytd-grid-thumbnail_-_height: 118px;
    --ytd-grid-thumbnail_-_width: 210px;
    --ytd-grid-section_-_margin-bottom: 24px;
    --ytd-grid-video-item_-_display: inline-block;
    --ytd-grid-video-item_-_width: 210px;
    --ytd-grid-subheader_-_margin: 24px 0;
    --ytd-grid-video-title_-_display: var(--ytd-link-two-lines_-_display, block);
    --ytd-grid-video-title_-_margin: 8px 0 8px;
    --ytd-grid-video-title_-_max-height: var(--ytd-link-two-lines_-_max-height);
    --ytd-grid-video-title_-_overflow: var(--ytd-link-two-lines_-_overflow);
    --ytd-grid-video-title_-_font-size: var(--ytd-link-two-lines_-_font-size);
    --ytd-grid-video-title_-_font-weight: var(--ytd-link-two-lines_-_font-weight);
    --ytd-grid-video-title_-_line-height: var(--ytd-link-two-lines_-_line-height);
    --ytd-grid-info-container_-_padding-right: 24px;
    --ytd-scrollbar-width: 8px;
    --ytd-scrollbar-scrubber_-_height: 56px;
    --ytd-scrollbar-scrubber_-_background: var(--yt-opalescence-grey-opacity-lighten-3);
    --ytd-fixed-width-container_-_position: relative;
    --ytd-fixed-width-container_-_overflow: hidden;
    --ytd-fixed-width-container_-_display: block;
    --ytd-default-promo-panel-renderer-height: 600px;
}
html:not(.style-scope) {
    --ytd-searchbox-border-color: var(--yt-opalescence-grey-opacity-lighten-4);
    --ytd-searchbox-legacy-border-color: #ccc;
    --ytd-searchbox-legacy-border-shadow-color: #eee;
    --ytd-searchbox-legacy-button-color: #f8f8f8;
    --ytd-searchbox-legacy-button-border-color: #d3d3d3;
    --ytd-searchbox-legacy-button-focus-color: #e9e9e9;
    --ytd-searchbox-legacy-button-hover-color: #f0f0f0;
    --ytd-searchbox-legacy-button-hover-border-color: #c6c6c6;
    --ytd-searchbox-legacy-button-icon-color: #333;
    --ytd-moderation-panel-background: var(--yt-opalescence-soft-grey-opacity-lighten-2);
    --ytd-moderation-panel-hover: var(--yt-opalescence-soft-grey-opacity-lighten-1);
    --ytd-moderation-panel-comment-text: var(--yt-luna-black);
    --ytd-moderation-panel-comment-metadata-text: var(--yt-luna-black-opacity-lighten-2);
    --ytd-moderation-icon-color: var(--yt-luna-black-opacity-lighten-2);
    --ytd-moderation-icon-hover-color: var(--yt-luna-black);
    --ytd-moderation-panel-likely-spam-divider: var(--yt-opalescence-grey-opacity-lighten-5);
    --ytd-comment-text-color: var(--yt-luna-black);
    --ytd-comment-metadata-text-color: var(--yt-spec-text-secondary);
    --ytd-watch-card-secondary-text-color: var(--yt-opalescence-grey);
    --ytd-watch-card-album-header-background: var(--yt-white);
    --ytd-watch-header-background: var(--yt-surface-300);
    --ytd-backstage-metadata-text-color: var(--yt-opalescence-grey);
    --ytd-backstage-video-link-background-color: var(--yt-opalescence-soft-grey-opacity-lighten-3);
    --ytd-backstage-image-alert-color: var(--yt-luna-black-opacity-lighten-2);
    --ytd-backstage-cancel-background-color: var(--yt-white);
    --ytd-backstage-cancel-color: var(--yt-luna-black-opacity-lighten-3);
    --ytd-backstage-attachment-background-color: var(--yt-surface-100);
    --ytd-backstage-creationbox-inactive-color: var(--yt-body-200);
    --ytd-backstage-creationbox-text-color: var(--yt-body-300);
    --ytd-backstage-creationbox-input-text-color: var(--yt-body-500);
    --ytd-backstage-creationbox-disabled-button-color: var(--yt-body-100);
    --ytd-backstage-creationbox-disabled-button-text-color: var(--yt-white);
    --ytd-backstage-attachment-icon-hover-color: var(--yt-body-400);
    --ytd-sponsorships-background-color-focus: var(--yt-opalescence-soft-grey-opacity-lighten-3);
    --ytd-badge-disabled-color: var(--yt-opalescence-grey-opacity-lighten-3);
    --ytd-collection-badge-color: var(--yt-luna-black-opacity-lighten-1);
    --ytd-owner-badge-color: var(--yt-luna-black-opacity-lighten-3);
    --ytd-simple-badge-color: var(--yt-luna-black-opacity-lighten-2);
    --ytd-shopping-product-info: var(--yt-luna-black-opacity-lighten-1);
    --ytd-transcript-cue-hover-background-color: var(--yt-opalescence-soft-grey);
    --ytd-transcript-toolbar-background-color: var(--yt-opalescence-soft-grey);
    --ytd-transcript-toolbar-text: var(--yt-luna-black);
    --ytd-video-publish-date-color: var(--yt-luna-black-opacity-lighten-2);
    --ytd-vat-notice-text: var(--yt-luna-black-opacity-lighten-2);
    --ytd-offer-background-color: var(--yt-opalescence-soft-grey-opacity-lighten-3);
    --ytd-video-game-watch-card-logo-color: var(--yt-luna-black);
    --ytd-watch-split-pane-sidebar-background-color: var(--yt-surface-200);
}
html:not(.style-scope) {
    --paper-dialog-background-color: var(--yt-spec-brand-background-solid);
    --paper-listbox-background-color: var(--yt-spec-brand-background-solid);
    --paper-listbox-color: var(--yt-spec-text-primary);
    --paper-spinner-layer-1-color: var(--yt-spec-icon-inactive);
    --paper-spinner-layer-2-color: var(--yt-spec-icon-inactive);
    --paper-spinner-layer-3-color: var(--yt-spec-icon-inactive);
    --paper-spinner-layer-4-color: var(--yt-spec-icon-inactive);
    --paper-spinner-color: var(--yt-spec-icon-inactive);
    --paper-input-container-focus-color: var(--yt-spec-themed-blue);
    --paper-input-container-input-color: var(--yt-spec-text-primary);
    --paper-input-container-label-floating_-_font-size: var(--ytd-floating-input-thumbnail-attribution_-_font-size);
    --paper-input-container-label-floating_-_font-weight: var(--ytd-floating-input-thumbnail-attribution_-_font-weight);
    --paper-input-container-label-floating_-_line-height: var(--ytd-floating-input-thumbnail-attribution_-_line-height);
    --paper-input-container-invalid-color: var(--yt-spec-brand-link-text);
    --paper-checkbox-unchecked-color: var(--yt-spec-icon-inactive);
    --paper-checkbox-unchecked-ink-color: var(--yt-spec-icon-inactive);
    --paper-checkbox-checked-color: var(--yt-spec-call-to-action);
    --paper-checkbox-checked-ink-color: var(--yt-spec-call-to-action);
    --paper-checkbox-label-color: var(--yt-spec-text-primary);
    --paper-checkbox-label-spacing: 16px;
    --paper-checkbox-size: 20px;
    --paper-checkbox-checkmark-color: var(--yt-spec-text-primary-inverse);
    --paper-radio-button-unchecked-color: var(--yt-spec-icon-inactive);
    --paper-radio-button-unchecked-ink-color: var(--yt-spec-icon-inactive);
    --paper-radio-button-checked-color: var(--yt-spec-call-to-action);
    --paper-radio-button-checked-ink-color: var(--yt-spec-call-to-action);
    --paper-radio-button-label-spacing: 16px;
    --paper-radio-button-label-color: var(--yt-spec-text-primary);
    --paper-radio-button-size: 20px;
    --paper-item_-_white-space: nowrap;
    --paper-item_-_font-size: initial;
    --paper-item_-_font-weight: initial;
    --paper-item_-_line-height: initial;
    --paper-toggle-button-unchecked-bar-color: var(--yt-spec-icon-disabled);
    --paper-toggle-button-unchecked-button-color: var(--yt-spec-icon-inactive);
    --paper-toggle-button-checked-bar-color: var(--yt-spec-icon-disabled);
    --paper-toggle-button-checked-button-color: var(--yt-spec-call-to-action);
    --paper-toggle-button-checked-ink-color: var(--yt-spec-call-to-action);
    --paper-toggle-button-unchecked-ink-color: var(--yt-spec-touch-response);
    --paper-tab-content-unselected_-_opacity: 1;
    --paper-menu-disabled-color: var(--yt-spec-text-primary);
    --paper-menu-background-color: var(--yt-spec-brand-background-solid);
    --paper-menu-color: var(--yt-spec-text-primary);
    --yt-icon-width: 40px;
    --yt-icon-height: 40px;
    --yt-search-correction_-_margin-top: 24px;
    --yt-search-correction-corrected_-_color: var(--yt-spec-text-primary);
    --yt-search-correction-corrected_-_font-size: var(--ytd-thumbnail-attribution_-_font-size);
    --yt-search-correction-corrected_-_font-weight: var(--ytd-thumbnail-attribution_-_font-weight);
    --yt-search-correction-corrected_-_line-height: var(--ytd-thumbnail-attribution_-_line-height);
    --yt-search-correction-corrected_-_text-transform: var(--ytd-thumbnail-attribution_-_text-transform);
    --yt-search-correction-corrected-link_-_font-size: var(--ytd-link_-_font-size);
    --yt-search-correction-corrected-link_-_font-weight: var(--ytd-link_-_font-weight);
    --yt-search-correction-corrected-link_-_line-height: var(--ytd-link_-_line-height);
    --yt-search-correction-original_-_padding-left: 8px;
    --yt-search-correction-original_-_color: var(--yt-spec-text-primary);
    --yt-search-correction-original_-_font-size: var(--ytd-thumbnail-attribution_-_font-size);
    --yt-search-correction-original_-_font-weight: var(--ytd-thumbnail-attribution_-_font-weight);
    --yt-search-correction-original_-_line-height: var(--ytd-thumbnail-attribution_-_line-height);
    --yt-search-correction-original_-_text-transform: var(--ytd-thumbnail-attribution_-_text-transform);
    --yt-search-correction-original-link_-_font-size: var(--ytd-link_-_font-size);
    --yt-search-correction-original-link_-_font-weight: var(--ytd-link_-_font-weight);
    --yt-search-correction-original-link_-_line-height: var(--ytd-link_-_line-height);
    --yt-endpoint_-_display: inline-block;
    --yt-endpoint_-_cursor: pointer;
    --yt-endpoint_-_text-decoration: none;
    --yt-endpoint_-_color: var(--yt-endpoint-color, var(--yt-spec-text-primary));
    --yt-endpoint-hover_-_color: var(--yt-endpoint-hover-color, var(--yt-spec-text-primary));
    --yt-endpoint-hover_-_text-decoration: var(--yt-endpoint-text-decoration, none);
    --yt-notification-button-bubble_-_color: var(--yt-swatch-important-text, var(--yt-white));
    --yt-notification-button-bubble_-_background-color: var(--yt-spec-brand-button-background);
    --yt-notification-button-bubble_-_width: 18px;
    --yt-notification-button-bubble_-_height: 18px;
    --yt-notification-button-bubble_-_border-radius: 50%;
    --yt-notification-button-bubble_-_line-height: 18px;
    --yt-notification-button-bubble_-_font-size: 10px;
    --yt-notification-button-bubble_-_text-align: center;
    --yt-notification-button-bubble_-_cursor: pointer;
}
html:not(.style-scope) {
    --ytd-grid-base: 103px;
    --ytd-margin-base: 4px;
    --ytd-avatar-size: 32px;
    --ytd-toolbar-height: 56px;
    --ytd-margin-2x: 8px;
    --ytd-margin-3x: 12px;
    --ytd-margin-4x: 16px;
    --ytd-margin-5x: 20px;
    --ytd-margin-6x: 24px;
    --ytd-margin-7x: 28px;
    --ytd-margin-8x: 32px;
    --ytd-margin-9x: 36px;
    --ytd-margin-10x: 40px;
    --ytd-margin-11x: 44px;
    --ytd-margin-12x: 48px;
    --ytd-margin-14x: 56px;
    --ytd-margin-16x: 64px;
    --ytd-margin-17x: 68px;
    --ytd-margin-24x: 96px;
    --ytd-margin-25x: 100px;
    --ytd-margin-35x: 140px;
    --ytd-neg-margin-base: -4px;
    --ytd-neg-margin-2x: -8px;
    --ytd-neg-margin-3x: -12px;
    --ytd-neg-margin-4x: -16px;
    --ytd-neg-margin-5x: -20px;
    --ytd-neg-margin-6x: -24px;
    --ytd-neg-margin-7x: -28px;
    --ytd-neg-margin-8x: -32px;
    --ytd-neg-margin-10x: -40px;
    --ytd-neg-margin-11x: -44px;
    --ytd-neg-margin-12x: -48px;
    --ytd-neg-margin-14x: -56px;
    --ytd-neg-margin-16x: -64px;
    --ytd-neg-margin-24x: -96px;
    --ytd-neg-margin-25x: -100px;
    --ytd-grid-1x1_-_height: 103px;
    --ytd-grid-1x1_-_width: 103px;
    --ytd-safari-layout-fix_-_-ms-flex: var(--layout-flex-none_-_-ms-flex);
    --ytd-safari-layout-fix_-_-webkit-flex: var(--layout-flex-none_-_-webkit-flex);
    --ytd-safari-layout-fix_-_flex: var(--layout-flex-none_-_flex);
    --yt-report-form-modal-renderer-min-width: 250px;
    --yt-legal-report-details-form-renderer-min-width: 250px;
    --yt-circular_-_border-radius: 50%;
    --yt-circular_-_background-color: transparent;
    --yt-circular_-_overflow: hidden;
    --yt-multi-line-ellipsis_-_-webkit-box-orient: vertical;
    --yt-multi-line-ellipsis_-_text-overflow: ellipsis;
    --yt-multi-line-ellipsis_-_white-space: normal;
    --yt-multi-line-ellipsis_-_display: -webkit-box;
    --yt-upsell-dialog-layout-vertical-width: 400px;
    --yt-upsell-dialog-layout-horizontal-width: 800px;
}
html:not(.style-scope) {
    --yt-spec-brand-background-solid: #fff;
    --yt-spec-brand-background-primary: rgba(255, 255, 255, 0.98);
    --yt-spec-brand-background-secondary: rgba(255, 255, 255, 0.95);
    --yt-spec-general-background-a: #f9f9f9;
    --yt-spec-general-background-b: #f1f1f1;
    --yt-spec-general-background-c: #e9e9e9;
    --yt-spec-error-background: #181818;
    --yt-spec-text-primary: #030303;
    --yt-spec-text-primary-inverse: #fff;
    --yt-spec-text-secondary: #606060;
    --yt-spec-text-disabled: #909090;
    --yt-spec-call-to-action: #065fd4;
    --yt-spec-icon-active-other: #606060;
    --yt-spec-icon-inactive: #909090;
    --yt-spec-icon-disabled: #ccc;
    --yt-spec-badge-chip-background: rgba(0, 0, 0, 0.05);
    --yt-spec-verified-badge-background: rgba(0, 0, 0, 0.15);
    --yt-spec-suggested-action: #f2f8ff;
    --yt-spec-button-chip-background-hover: rgba(0, 0, 0, 0.1);
    --yt-spec-touch-response: #000;
    --yt-spec-paper-tab-ink: rgba(0, 0, 0, 0.3);
    --yt-spec-filled-button-text: #fff;
    --yt-spec-call-to-action-inverse: #3ea6ff;
    --yt-spec-brand-icon-active: #f00;
    --yt-spec-brand-icon-inactive: #606060;
    --yt-spec-brand-button-background: #c00;
    --yt-spec-brand-link-text: #c00;
    --yt-spec-filled-button-focus-outline: rgba(0, 0, 0, 0.6);
    --yt-spec-call-to-action-button-focus-outline: rgba(6, 95, 212, 0.3);
    --yt-spec-brand-text-button-focus-outline: rgba(204, 0, 0, 0.3);
    --yt-spec-inactive-text-button-focus-outline: #ccc;
    --yt-spec-ad-indicator: #00716c;
    --yt-spec-brand-subscribe-button-background: var(--yt-spec-brand-button-background);
    --yt-spec-wordmark-text: #212121;
    --yt-spec-10-percent-layer: rgba(0, 0, 0, 0.1);
    --yt-spec-snackbar-background: #212121;
    --yt-spec-selected-nav-text: #c00;
    --yt-spec-themed-blue: #065fd4;
    --yt-spec-themed-green: #107516;
    --yt-spec-themed-overlay-background: rgba(255, 255, 255, 0.7);
    --yt-spec-static-brand-red: #f00;
    --yt-spec-static-brand-white: #fff;
    --yt-spec-static-brand-black: #212121;
    --yt-spec-static-ad-yellow: #fbc02d;
    --yt-spec-static-overlay-background-solid: #000;
    --yt-spec-static-overlay-background-heavy: rgba(0, 0, 0, 0.8);
    --yt-spec-static-overlay-background-medium: rgba(0, 0, 0, 0.6);
    --yt-spec-static-overlay-background-medium-light: rgba(0, 0, 0, 0.3);
    --yt-spec-static-overlay-background-light: rgba(0, 0, 0, 0.1);
    --yt-spec-static-overlay-text-primary: #fff;
    --yt-spec-static-overlay-text-secondary: rgba(255, 255, 255, 0.7);
    --yt-spec-static-overlay-text-disabled: rgba(255, 255, 255, 0.3);
    --yt-spec-static-overlay-call-to-action: #3ea6ff;
    --yt-spec-static-overlay-icon-active-other: #fff;
    --yt-spec-static-overlay-icon-inactive: rgba(255, 255, 255, 0.7);
    --yt-spec-static-overlay-icon-disabled: rgba(255, 255, 255, 0.3);
    --yt-spec-static-overlay-button-primary: rgba(255, 255, 255, 0.3);
    --yt-spec-static-overlay-button-secondary: rgba(255, 255, 255, 0.1);
    --yt-spec-static-overlay-background-brand: rgba(204, 0, 0, 0.9);
}
html:not(.style-scope) {
    --yt-std-body-200: var(--yt-body-200);
    --yt-std-body-300: var(--yt-body-300);
    --yt-std-surface-200: var(--yt-surface-200);
    --yt-std-surface-300: var(--yt-surface-300);
    --yt-std-surface-400: var(--yt-surface-400);
    --yt-primary-color: var(--yt-luna-black);
    --yt-primary-text-color: var(--yt-luna-black);
    --yt-secondary-text-color: var(--yt-luna-black-opacity-lighten-1);
    --yt-tertiary-text-color: var(--yt-luna-black-opacity-lighten-2);
    --yt-placeholder-text-color: var(--yt-luna-black-opacity-lighten-2);
    --yt-border-color: var(--yt-opalescence-soft-grey);
    --yt-commentbox-border-inactive: var(--yt-opalescence-soft-grey);
    --yt-commentbox-border-active: var(--yt-luna-black-opacity-lighten-2);
    --yt-primary-disabled-button-text-color: var(--yt-white);
    --yt-paper-radio-button-checked-color: var(--yt-opalescence-grey);
    --yt-paper-button-ink-color: var(--yt-opalescence-grey);
    --yt-icon-color: var(--yt-luna-black-opacity-lighten-3);
    --yt-icon-hover-color: var(--yt-luna-black-opacity-lighten-1);
    --yt-icon-disabled-color: var(--yt-luna-black-opacity-lighten-2);
    --yt-icon-active-color: var(--yt-luna-black);
    --yt-expand-color: var(--yt-luna-black-opacity-lighten-2);
    --yt-metadata-color: var(--yt-luna-black-opacity-lighten-2);
    --yt-placeholder-text: var(--yt-luna-black-opacity-lighten-2);
    --yt-playlist-background-header: var(--yt-opalescence-soft-grey);
    --yt-playlist-background-item: var(--yt-opalescence-soft-grey-opacity-lighten-2);
    --yt-playlist-title-text: var(--yt-luna-black);
    --yt-playlist-message-text: var(--yt-luna-black-opacity-lighten-2);
    --yt-subscribe-button-text-color: var(--yt-white);
    --yt-button-text-color: var(--yt-luna-black-opacity-lighten-2);
    --yt-button-payment-text-color: var(--yt-white);
    --yt-button-active-color: var(--yt-luna-black);
    --yt-copyright-text: var(--yt-luna-black-opacity-lighten-2);
    --yt-guide-entry-text-color: var(--yt-luna-black-opacity-lighten-1);
    --yt-thumbnail-placeholder-color: var(--yt-section-4-light);
    --yt-featured-channel-title-text-color: var(--yt-body-300);
    --yt-formatted-string-deemphasize-color: var(--yt-opalescence-grey);
    --yt-alert-background: var(--yt-opalescence-soft-grey-opacity-lighten-3);
    --yt-video-secondary-info-description-background: var(--yt-opalescence-soft-grey-opacity-lighten-2);
    --yt-searchbox-text-color: var(--yt-primary-text-color);
    --yt-simple-menu-header-background: var(--yt-opalescence-soft-grey);
    --yt-item-section-header-color: var(--yt-luna-black-opacity-lighten-2);
    --yt-menu-hover-backgound-color: var(--yt-opalescence-soft-grey);
    --yt-menu-focus-background-color: var(--yt-luna-black-opacity-lighten-4);
    --yt-app-background: var(--yt-white);
    --yt-main-app-background: var(--yt-surface-200);
    --yt-main-app-background-tmp: var(--yt-surface-100);
    --yt-guide-background: var(--yt-surface-300);
    --yt-dialog-background: var(--yt-white);
    --yt-searchbox-background: var(--yt-white);
    --yt-channel-header-background: var(--yt-surface-200);
    --yt-sidebar-background: var(--yt-surface-200);
    --yt-transcript-background: var(--yt-white);
}
html {
    background-color: #f9f9f9!important;
    -webkit-text-size-adjust: none;
}

*/